<div class="wrapper grid"> 
	              <a th:href="@{/}">
	            <div class="travel">
	              <img th:src="@{/images/울릉도1.png}" alt="여행지2">
	              </a>
	              <p>울릉도</p>  
	              <h6> 각기 다른 매력을 발산하는  <br> 자연과 하나되는 나를 위한 여행
	              </h6>
	            </div>
	           <div class="travel">
	              <a th:href="@{/}">
	              <img th:src="@{/images/theme1-1_4.jpg}" alt="여행지3">
	              </a>
	              <p>전주</p>  
	              <h6> 친구와 함께 한복입고 인생샷 <br> 전주한옥마을 투어
	              </h6>
	           </div>
	           <a th:href="@{/}">
	           <div class="travel-big" style="width: 220px;" >
	              <img th:src="@{/images/제주사진.png}" alt="여행지1">
	            </a>
	              <p style="text-align: center;">제주</p>  
	              <h6> 올여름 다시! 제주로 <br> 유명관광지 가이드 투어 & 자유여행
	              </h6>
	           </div>
	           <div class="travel">
	            <a th:href="@{/}">
	              <img th:src="@{/images/강아지펜션메인.png}" alt="여행지4">
	              </a>
	              <p>울주</p>  
	              <h6> 반려견 동반 독채펜션<br> 영남알프스 힐링여행
	              </h6>
	           </div>
	           <div class="travel">
	            <a th:href="@{/}">
	              <img th:src="@{/images/춘천레고랜드.png}" alt="여행지5">
	              </a>
	              <p>춘천</p>  
	              <h6> [쿠폰할인] 레고랜드 1일 이용권 <br> 22년5월5일 오픈한 신상테마파크
	              </h6>
	           </div>
	        </div>
	      
	        <!--이번 달의 여행지 추천-->
	        <div class="wrapper" style="margin-bottom: 100px;">
	          <div class="item2">
	            <img th:src="@{/images/양양.png}" width="500" height="500" alt="해변">
	      
	            <div class="item3">
	              <h3 class="sub-title"> 6月의 추천 여행지 🏄‍♀️</h3>
	                  <article>
	                    서퍼들의 천국, 초보자도 쉽게 서핑을 즐길 수 있는 곳!!
	      
	                    <p>올해 여름휴가는 양양 서피비치에서 함께 보냅시다.
	                        🏄서퍼들의 천국, 이국적인 양양 서피비치 주변 호텔에서 여름 휴가를 즐겨보자!! </p>
	                        이번 한 달간 서핑캠프, 시즌방 등 얼리버드 특가할인 최대 25%
	
	                    <p>인생의 무거운 짐진 자들이여 서핑하러오라 내가 너희를 서퍼로 만들지니~♥ Peace~!</p>
	
	                    <p>국제서핑협회(ISA) 심판, 19년서핑경력 대표강사 박부근서퍼 강습 <b style="color: #e74c3c">PHEONIX TOUR ONLY!!</b></p>
	
	                    <p>대한민국 1세대 서퍼로서 고품질 서핑강습 프로그램을 부담없는 가격으로 운영하고 있습니다.
	                       국제서핑협회(ISA) 공인 서핑스쿨이자 서핑 종합 문화공간으로 서핑강습, 게스트하우스, 펜션, 바비큐, 치킨&호프 등을 한 곳에서 즐기실 수 있습니다.</p>
	
	                        또한, 오랜 강습경험을 통해 서핑존 바로 앞 해변에 샤워장 및 탈의/렌탈시설을 설치하여 5초이내로 입수가 가능하도록 동선 최적화를 시켰습니다.
	                        서핑에 대한 열정이 활활 불타오르는 젯시티 크루들과 서프버디들의 서핑 라이프를 올해도 여러분과 함께 즐기고 싶습니다.🏄‍♀️
	
	                  </article>
	            </div>
	            
	          </div>
	        </div>
	        
	        <!-- 할인 및 이벤트-->
	        
	        <div class="wrapper">
	
	            <h3 style="margin-bottom: 20px;">할인 및 이벤트 정보</h3>
	            <div class="saleandevent1">
	                <div>
	                    <a th:href="@{/}">
	                    <div><img th:src="@{/images/event1.png}" alt="event" style="width: 500px;"></div>
	                    </a>
	                    <div class="saleinfo"> 
	                        <h3>신한카드 최대 21만원 할인</h3><br>
	                        <p> <b style="color: #e74c3c">ONLY PHEONIX TOUR</b> 7%청구 추가 할인</p>
	                    </div>
	                </div>
	            
	
	                <div class>
	                    <a th:href="@{/}">
	                    <div><img th:src="@{/images/event2.png}" alt="event" style="width: 500px;"></div>
	                    <div class="saleinfo"> 
	                        <h3>면세점 혜택</h3><br>
	                        <p> 설레는 여행의 또다른 즐거움</p>
	                    </div>
	                     </a>
	                </div>
	            </div>
	
	            <div class="saleandevent1" style="margin-top: 50px;">
	                <div>
	                <a th:href="@{/}">
	                <div><img th:src="@{/images/event3.png}" alt="event" style="width: 500px;"></div>
	                <div class="saleinfo"> 
	                    <h3>이달의 카드 혜택</h3><br>
	                    <p> 무이자 헤택 안내</p>
	                </div>
	                 </a>
	                </div>
	            
	        
	                <a th:href="@{https://pay.naver.com/about}">
	                <div>
	                <div><img th:src="@{/images/event4.png}" alt="event" style="width: 500px;"></div>
	                <div class="saleinfo"> 
	                    <h3>네이버 페이로 결제시 1.5% 추가 적립</h3><br>
	                    <p> 쉽고 편리한 결제 혜택</p>
	                </div>
	                 </div>
	                </a>
	            
	            </div>
	
	           
	         </div>
	
	        </div>
	      
	        <!--회원 리뷰-->
	          <div class="wrapper">
	                <h3 style="margin-top: 150px;">회원 리뷰</h3>
	                <a th:href="@{/}">
	                <div class="container5"> <!--구매만족도-->
                    <div class="">
                        <p1>구매만족도</p1>
                        <div class="">
                            <br><br><br>
                            <h1>4.7</h1>
                            <img th:src="@{/images/star5.jpg}"  alt="5점" id="five">
                            <br><br><br>
                            <p>14,616건</p>
                        </div>
                    </div>
            
                    <div class="">
                        <div class="">
                            <p1>나이별 구매비율</p1>
                            <br>
                            <img th:src="@{/images/chart1.png}" id="img" alt="구매만족도">
                        </div>
                    </div>
                </div>
                 </a>
          </div>