<!DOCTYPE html>
<html lang="ko"
	  xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
	  <head th:fragment="config">
	  	<title>thymeleaf layout</title>
	  	
	  	<!-- 공통적으로 사용되는 css -->
	  	<link rel="stylesheet" th:href="@{/css/style.css}">
	  	<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    	<link rel="stylesheet" th:href="@{/css/ress.min.css}">
    	<link rel="stylesheet" th:href="@{/css/mainpage_style.css}">
    	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    	
	    <!--파비콘 설정-->
	    <link rel="icon" type="image/png" th:href="@{/images/logo_pic.png}">
	  	
	  	<!-- 페이지별로 별도로 사용할 css -->
	  	<th:block layout:fragment="css"></th:block>
	  	
	  	<!-- 공통적으로 사용되는 js -->
	  	<script th:src="@{/js/jquery-3.6.0.min.js}"></script>
	    <script type="text/javascript" th:src="@{https://code.jquery.com/jquery-3.6.0.min.js}"></script>
	    <script th:src="@{/js/bootstrap.bundle.min.js}"></script>
	    <script th:src="@{https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js}"></script>
        <script th:src="@{https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js}"></script>
	  	
	  	<!-- 페이지별로 별도로 사용할 script -->
	  	<th:block layout:fragment="script"></th:block>
	  </head>
</html>