html {
    font-size : 100%;
}

body {
    font-family: "나눔고딕", NanumGothic, "맑은고딕", MalagunGothic, "Apple SD Gothic Neo", sans-serif;
}

ul, li {
    list-style: none;
}

a {
    color: inherit;
    text-decoration: none;
}

hr {
    margin-top: 20px;
    color: inherit;
    height: 0;
    overflow: visible;
}

.user-nav {
    display: flex;
    font-size: 0.75rem;
    list-style: none;
    z-index: 2;
    margin-top: 24px;
}

.user-nav li {
    margin-left: 36px;
}

.user-nav a {
    color: #ffffff;
}

.login-form h2 {
    text-align: left;
}

.login-form h3 {
    text-align: left;
    margin-top: 35px;
    margin-bottom: 5px;
}

.login-form p {
    text-align: left;
    font-size: 0.75rem;
}

.login-form {
    /* border: 1px solid silver; */
    width: 600px;
    min-height: 200px;
    margin: 100px auto 100px;
    text-align: center;
    padding: 35px;
}

.login-form input[type="text"], .login-form input[type="password"] {
    border: 1px solid silver;
    margin-top: 10px;
    width: 250px;
    height: 30px;  
}

.login-submit input[type="submit"] {
    color: #fff;
    font-size: 20px;
    background-color: #e74c3c;
    width: 150px;
    height: 35px;
    border: none;
    border-radius: 5px;
    font-weight: bold;
}